.whislists{
    position: absolute;
    top: 6px;
    right: 1.5px;
}

/* productDetail images */
.product-img {
    cursor: pointer !important;
    transition: 1s !important;
}

.productDetailSize span{
    cursor: pointer;
}