.home{
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
    outline: none;
}
/* .swiper {
    width: 600px;
    height: 300px !important;
} */


/* https://dribbble.com/shots/18071369/attachments/13262060?mode=media */