.burgerMenu{
    display: none !important;
}
.logo{
    width: 200px;
    height: 50px;
    object-fit: contain;
    border: 0;
}
.location-text{
    font-size: 14px;
}
.profile-section  p{
    margin: 35px 0 !important;
    cursor: pointer;
}
@media screen and (max-width : 767px) {
    .logo{
        width: 100px;
    }
    .links, .searchbar{
        display: none;
    }
    
    /* .burgerMenu{
        display: flex !important;
    } */
}
@media screen and (max-width : 995px) {
    .location, .icons{
        display: none;
    }
    .burgerMenu{
        display: flex !important;
    }
}
@media screen and (min-width : 995px) {
    .burgerLocation{
        display: none;
    }
}